# ignore all
/*
/.*

# white list
!/.gitignore

!/environment.d
/environment.d/*
!/environment.d/*.conf

!/fbterm
/fbterm/*
!/fbterm/fbtermrc

!/fish
/fish/*
!/fish/completions
!/fish/conf.d
!/fish/functions

!/fontconfig
/fontconfig/*
!/fontconfig/fonts.conf

!/git
/git/*
!/git/config

!/ideavim
/ideavim/*
!/ideavim/ideavimrc

!/irb
/irb/*
!/irb/irbrc

!/mako

!/nvim
/nvim/*
!/nvim/dein.toml
!/nvim/dein_coc.toml
!/nvim/dein_lazy.toml
!/nvim/coc-settings.json
!/nvim/init.vim
!/nvim/plugins

!/sway
/sway/*
!/sway/config
!/sway/config.d

!/systemd
/systemd/*
!/systemd/user
/systemd/user/*
!/systemd/user/ssh-agent.service
!/systemd/user/mpris-proxy.service

!/alacritty
/alacritty/*
!/alacritty/alacritty.yml
!/alacritty/alacritty.yml.erb

!/tmux
/tmux/*
!/tmux/tmux.conf

!/waybar

!/wofi
