# ignore all
/*
/.*

# white list
!/.gitignore

!/chromium-flags.conf

!/environment.d
/environment.d/*
!/environment.d/*.conf

!/fbterm
/fbterm/*
!/fbterm/fbtermrc

!/fish
/fish/*
!/fish/completions
!/fish/conf.d
!/fish/functions

!/fontconfig
/fontconfig/*
!/fontconfig/fonts.conf

!/git
/git/*
!/git/config

!/hypr
/hypr/*
!/hypr/bin
!/hypr/hyprland.conf
!/hypr/hyprlock.conf
!/hypr/hypridle.conf
!/hypr/conf.d

!/ideavim
/ideavim/*
!/ideavim/ideavimrc

!/irb
/irb/*
!/irb/irbrc

!/mako

!/nvim

!/sway
/sway/*
!/sway/bin
!/sway/config
!/sway/config.d

!/systemd
/systemd/*
!/systemd/user
/systemd/user/*
!/systemd/user/ssh-agent.service
!/systemd/user/mpris-proxy.service

!/alacritty
/alacritty/*
!/alacritty/alacritty.toml
!/alacritty/alacritty.toml.erb

!/tmux
/tmux/*
!/tmux/tmux.conf

!/waybar

!/wofi
