# ignore all
/*
/.*

# white list
!/.gitignore

!/X11
/X11/*
!/X11/Xmodmap
!/X11/xprofile

!/dunst
/dunst/*
!/dunst/dunstrc

!/fbterm
/fbterm/*
!/fbterm/fbtermrc

!/fontconfig
/fontconfig/*
!/fontconfig/fonts.conf

!/git
/git/*
!/git/config

!/i3
/i3/*
!/i3/config

!/ideavim
/ideavim/*
!/ideavim/ideavimrc

!/irb
/irb/*
!/irb/irbrc

!/nvim
/nvim/*
!/nvim/dein.toml
!/nvim/dein_coc.toml
!/nvim/dein_lazy.toml
!/nvim/coc-settings.json
!/nvim/init.vim
!/nvim/plugins

!/peco
/peco/*
!/peco/config.json

!/qtile
/qtile/*
!/qtile/config.py

!/rofi
/rofi/*
!/rofi/config.rasi

!/sway
/sway/*
!/sway/config

!/systemd
/systemd/*
!/systemd/user
/systemd/user/*
!/systemd/user/ssh-agent.service

!/termite
/termite/*
!/termite/config

!/alacritty
/alacritty/*
!/alacritty/alacritty.yml
!/alacritty/alacritty.yml.erb

!/tmux
/tmux/*
!/tmux/tmux.conf

!/xmobar
/xmobar/*
!/xmobar/xmobarrc

!/xmonad
/xmonad/*
!/xmonad/xmonad.hs

!/zsh
/zsh/*
!/zsh/.zprofile
!/zsh/.zshenv
!/zsh/.zshrc
!/zsh/.zprofile
!/zsh/*.zsh
!/zsh/scripts
