* {
  font-family: Orbitron, Symbols Nerd Font, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(10, 12, 40, 0.95);
  border-bottom: 3px solid rgba(58, 65, 85, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover, #workspaces button.focused {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #00FFEA; /* ネオンブルー */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#cpu {
  box-shadow: inset 0 -3px #eeff05;
}

#memory {
  box-shadow: inset 0 -3px #05ff1a;
}

#battery {
  box-shadow: inset 0 -3px #05bcff;
}

#temperature {
  box-shadow: inset 0 -3px #ff7605;
}


#network {
  box-shadow: inset 0 -3px #055dff;
}

#pulseaudio {
  box-shadow: inset 0 -3px #e605ff;
}

#clock {
  box-shadow: inset 0 -3px #6e8196;
}

#tray {
  box-shadow: inset 0 -3px #7b966e;
}

#idle_inhibitor {
  box-shadow: inset 0 -3px #966e6e;
}

/* activated */
#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #181818;
}

/* deactivated */
#pulseaudio.muted, #network.disconnected {
  background-color: #90b1b1;
}

/* emergency */
#temperature.critical, #battery.critical:not(.charging) {
  background-color: #eb4d4b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
